// Import Vuetify styling

// .page
  // @extend .fade-transition

* { font-family: 'Quicksand', sans-serif; font-weight: 400 !important; }
a { text-decoration:none; }
a:focus { outline: none; }
  
/* Input */
.input-group > label { text-transform: uppercase; }
.input-group input{ font-family: 'Quicksand', 'serif' !important; }
button, .btn { font-family: 'Quicksand'; font-weight:700 !important; margin:0px; min-height:46px; min-width:46px;}
select::placeholder, input::placeholder { color:#555 !important; }

/* Typography */
.title { font-family: 'Quicksand', sans-serif; }
.text-uppercase, th { text-transform: uppercase; }
table th { font-weight: bold !important; }

/* Border */
.b-1 { border: 1px solid #ddd; }
.br-1 { border-right: 1px solid #ddd; }
.bl-1 { border-left: 1px solid #ddd; }
.bt-1 { border-top: 1px solid #ddd; }
.bb-1 { border-bottom: 1px solid #ddd; }

/* Font */
.page-header *, 
.list *, 
.table *, 
.input-group__selections__comma, 
.input-group label,
input, 
textarea,
input::placeholder {font-size:0.9rem !important;}

/* Button */
.btn--active { background: #048 !important; color: white !important; border-radius:0}